#screen_toggle{
    width:max-content;
    position:fixed;
    bottom:calc(2vh + 20px);
    left:50%;
    transform:translateX(-50%);
    display:flex;
    flex-flow:column;
    img{
        width:150px;
        height:150px;
        &:hover{
            cursor:pointer;
        }
    }
}