#screen_toggle{
    width:max-content;
    position:fixed;
    bottom:calc(max(3vh, 30px));
    left:54%;
    transform:translateX(-54%);
    display:flex;
    flex-flow:column;
    img{
        width:120px;
        height:120px;
        &:hover{
            cursor:pointer;
        }
    }
}

#tips_mascot{
    width:max-content;
    position:fixed;
    bottom:calc(max(3.5vh, 40px));
    left:46%;
    transform:translateX(-46%);
    display:flex;
    flex-flow:column;
    img{
        width:120px;
        height:120px;
        &:hover{
            cursor:pointer;
        }
    }
}