$font:'DotGothic16', Courier;
$color:rgb(173, 255, 47);

#screen{
    font-family: $font;
    position:relative;
    height:100%;
    width:100%;
    background-image:radial-gradient(circle, rgba(40,57,20,1) 0%, rgba(20,29,9,1) 10%, rgba(0,0,0,1) 45%);
    #screen_off{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        display:flex;
        flex-flow:column;
        justify-content: center;
        align-items:center;
        background:black;
        transition:all 1s;
        #button_power{
            display:flex;
            width:max-content;
            button{
                position:relative;
                background:none;
                border:none;
                outline:none;
                color:$color;
                transition:all 0.2s;
                width:100%;
                height:100%;
                &:hover{
                    cursor:pointer;
                }
                i{
                    font-size:calc(15px + 1.5vw);
                    padding:1%;
                }
            }
        }
    }
    #screen_on{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        display:flex;
        flex-flow:column;
        transition:all 0.8s 1s;
        background-size:100%;
        background-position: center;
        #screen_flicker{
            height:100%;
            width:100%;
            position:absolute;
            top:0;
            left:0;
            background:rgba(0,0,0,0.7);
            pointer-events:none;
            z-index:8;
        }
        #folder_section{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            display:flex;
            flex-flow:row;
            .folder{
                position:absolute;
                transition:background 0.3s;
                width:max-content;
                height:max-content;
                min-width:6%;
                padding:1%;
                display:flex;
                flex-flow:column;
                justify-content: center;
                align-items:center;
                img{
                    width:calc(16px + 1.5vw);
                }
                p{
                    color:$color;
                    font-family: $font;
                    text-align: center;
                    margin:1% 0 0 0;
                    &:hover{
                        cursor:default;
                    }
                }
                #contextmenu{
                    position:absolute;
                    width:max-content;
                    z-index:6;
                    ul{
                        margin:0;
                        padding:0;
                        width:100%;
                        position:relative;
                        display:flex;
                        flex-flow:column;
                        li{
                            list-style-type: none;
                            width:100%;
                            button{
                                background:none;
                                width:100%;
                                background:black;
                                &:hover{
                                    background:rgb(78, 78, 78);
                                }
                                p{
                                    margin:0;
                                    color:$color;
                                    width:100%;
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        #user{
            position:absolute;
            top:0;
            right:0;
            display:flex;
            flex-flow:column;
            width:max-content;
            min-width:20%;
            height:max-content;
            margin-right:2%;
            p{
                color:$color;
                font-family: $font;
                margin:0 0 1% 0;
                width:max-content;
                user-select: none;
                &:first-of-type{
                    margin-top:1%;
                }
            }
        }

        #music_player{
            position:absolute;
            background:black;
            min-width:350px;
            min-height:100px;
            display:flex;
            flex-flow:column;
            justify-content: center;
            align-items:center;
            padding:2%;
            #music_title{
                color:$color;
                width:70%;
                overflow-x:hidden;
                display:flex;
                justify-content: center;
                align-items:center;
                min-height:50px;
                position:relative;
                p{
                    position:absolute;
                    width:max-content;
                    &:nth-of-type(1){
                        animation:15s 0s steps(40,end) slidertoleft infinite;
                    }
                    &:nth-of-type(2){
                        transform:translateX(125%);
                        animation:15s 7.5s steps(40,end) slidertoleft infinite;
                    }
                }
            }
            #music_controls{
                display:flex;
                flex-flow:row;
                button{
                    background:transparent;
                    i{
                        color:$color;
                        pointer-events: none;
                    }
                }
            }
            input[type=range]{
                background:transparent;
            }
            input[type=range]::-webkit-slider-thumb{
                // opacity:0;
                background:$color;
            }
            input[type=range]::-moz-range-thumb{
                opacity:0;
            }
            input[type=range]::-webkit-progress-value{
                background-color: $color;
            }
            input[type=range]::-moz-range-progress{
                background-color: $color; 
            }
            input[type=range]::-webkit-slider-runnable-track{
                background-color: #9a905d; 
            }
            input[type=range]::-moz-range-track {  
                background-color: #9a905d;
            }
        }

        .window{
            display:flex;
            flex-flow:column;
            z-index:3;
            border:1px solid black;
            &:not(.fullscreen){
                position:absolute;
                top:10%;
                left:10%;
                width:70vw;
                height:70vh;
                &#window_openimg{
                    .window_menu{
                        display:flex;
                        flex-flow:row;
                        ul{
                            display:flex;
                            flex-flow:row;
                            align-items: flex-end;
                            justify-content: flex-end;
                        }
                    }
                    .window_content{
                        display:flex;
                        img{
                            flex-grow:1;
                            object-fit: contain;
                            width:100%;
                        }
                    }
                }
            }
            &.fullscreen{
                position:fixed;
                top:0;
                left:0;
                right:0;
                bottom:0;
                height:100%;
                width:100%;
                &#window_openimg{
                    .window_menu{
                        display:flex;
                        flex-flow:row;
                        ul{
                            display:flex;
                            flex-flow:row;
                            align-items: flex-end;
                            justify-content: flex-end;
                        }
                    }
                    .window_content{
                        display:flex;
                        img{
                            flex-grow:1;
                            object-fit: contain;
                            width:100%;
                        }
                    }
                }
            }
            .window_menu{
                display:flex;
                flex-flow:row;
                background:black;
                ul{
                    padding:0;
                    margin:0;
                    display:flex;
                    flex-flow:row;
                    justify-content: space-between;
                    width:100%;
                    div{
                        width:max-content;
                        display:flex;
                        flex-flow:row;
                        &.window_menu_left{
                            width:30%;
                            li{
                                margin:0 2%;
                                padding:1% 0;
                                button{
                                    background:transparent;
                                    color:$color;
                                    border:1px solid transparent;
                                    &:hover{
                                        border:1px solid $color;
                                    }
                                }
                            }
                        }
                        &.window_menu_right{
                            width:15%;
                            justify-content: flex-end;
                            li{
                                margin:0 2%;
                                button{
                                    background:transparent;
                                    border:1px solid $color;
                                    i{
                                        color:$color;
                                        padding:1%;
                                    }
                                }
                            }
                        }
                        li{
                            list-style-type: none;
                            width:max-content;
                            button{
                                &:hover{
                                    background:rgba(255,255,255,0.2);
                                }
                            }
                        }
                    }
                }
            }
            .window_content{
                position:relative;
                display:flex;
                flex-grow:1;
                flex-flow:row;
                padding:1% 2%;
                background:#131a0d;
                color:$color;
                .window_min{
                    position:relative;
                    display:flex;
                    flex-flow:column;
                    width:12%;
                    height:max-content;
                    justify-content: center;
                    align-items:center;
                    img{
                        width:75px;
                    }
                    #contextmenu{
                        position:absolute;
                        width:max-content;
                        z-index:6;
                        ul{
                            margin:0;
                            padding:0;
                            width:100%;
                            position:relative;
                            display:flex;
                            flex-flow:column;
                            li{
                                list-style-type: none;
                                width:100%;
                                display:flex;
                                button{
                                    flex-grow:1;
                                    background:black;
                                    &:hover{
                                        background:rgb(78, 78, 78);
                                    }
                                    p{
                                        margin:0;
                                        color:$color;
                                        width:100%;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        footer#task_bar{
            width:100%;
            height:calc(2vh + 20px);
            background:#0d1103;
            display:flex;
            flex-flow:row;
            justify-content: space-between;
            position:fixed;
            bottom:0;
            left:0;
            z-index:5;
            #menu{
                position:relative;
                width:max-content;
                #start_btn{
                    background:transparent;
                    height:100%;
                    width: max-content;
                    min-width:80px;
                    border:1px solid $color;
                    &:hover{
                        background:rgb(56, 56, 56);
                        cursor:pointer;
                    }
                    p{
                        font-family: $font;
                        color:$color;
                        margin:0;
                        padding:1% 3%;
                    }
                }
                #start_menu{
                    background:grey;
                    position:absolute;
                    top:0;
                    left:0;
                    display:flex;
                    flex-flow:column-reverse;
                    width:max-content;
                    height:max-content;
                    max-height:45vh;
                    transform:translateY(-100%);
                    z-index:5;
                }
            }
            #task_windows{
                display:flex;
                flex-flow:row;
                flex-grow:1;
                position:relative;
                ul{
                    margin:0;
                    padding:0;
                    display:flex;
                    flex-flow:row;
                    width:100%;
                    li{
                        list-style-type: none;
                        border:1px solid $color;
                        width:5%;
                        display:flex;
                        justify-content: center;
                        align-items:center;
                        &:hover{
                            background:rgba(255,255,255,0.2);
                        }
                        #contextmenu{
                            position:absolute;
                            width:max-content;
                            z-index:6;
                            ul{
                                margin:0;
                                padding:0;
                                width:100%;
                                position:relative;
                                display:flex;
                                flex-flow:column;
                                li{
                                    list-style-type: none;
                                    width:100%;
                                    button{
                                        background:none;
                                        width:100%;
                                        background:black;
                                        &:hover{
                                            background:rgb(78, 78, 78);
                                        }
                                        p{
                                            margin:0;
                                            color:$color;
                                            width:100%;
                                            pointer-events: none;
                                        }
                                    }
                                }
                            }
                        }
        
                    }
                }
            }
            #task_corner{
                display:flex;
                flex-flow:row;
                width:max-content;
                width:5%;
                min-width:100px;
                height:100%;
                position:absolute;
                right:1%;
                top:0;
                justify-content: center;
                align-items:center;
                span{
                    width:max-content;
                    p{
                        color:$color;
                        font-family:$font;
                        font-size:60%;
                        text-align: center;
                        margin:0 0 0.3% 0;
                        letter-spacing: 1px; 
                    }
                }
                #task_lang{
                    width:3%;
                    min-width:25px;
                    position:relative;
                    margin-right:5%;
                    button{
                        background:none;
                        border:1px solid $color;
                        display:flex;
                        width:100%;
                        padding:0;
                        p{
                            flex-grow:1;
                            color:$color;
                            margin:0;
                            &:hover{
                                cursor:pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes textglitch{
    0%{text-shadow:1.5px 0.4px 0px $color;}
    1%{text-shadow:-2.4px -0.8px 0px $color;}
    2%{text-shadow:2.3px 0.2px 0px $color;}
    5%{text-shadow:2.3px 0.2px 0px $color;}
    6%{text-shadow:-1.7px 0.4px 0px $color;}
    7%{text-shadow:-1.7px 0.4px 0px $color;}
    8%{text-shadow:0.8px 0.2px 0px $color;}
    10%{text-shadow:0px 0px 0px $color;}
}

@keyframes slidertoleft{
    0%{transform:translateX(125%);}
    100%{transform:translateX(-125%);}
}

@keyframes minimize{
    0%{transform:translate(0,0) scale(100%,100%);}
    99%{transform:translate(-50%, 400%) scale(0%,0%);}
    100%{transform:translate(-50%, 400%) scale(0%,0%);visibility:hidden;}
}

@keyframes minimize_out{
    0%{visibility:visible;transform:translate(-50%, 400%) scale(0%,0%);}
    100%{transform:translate(0,0) scale(100%, 100%);}
}