$font:'DotGothic16', Courier;
$color:rgb(173, 255, 47);

footer#task_bar{
    width:100%;
    height:calc(2vh + 20px);
    background:#0d1103;
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    position:fixed;
    bottom:0;
    left:0;
    z-index:8;
    #menu{
        position:relative;
        width:max-content;
        #start_btn{
            background:transparent;
            height:100%;
            width: max-content;
            min-width:80px;
            border:1px solid $color;
            &:hover{
                background:rgb(56, 56, 56);
                cursor:pointer;
            }
            p{
                font-family: $font;
                color:$color;
                margin:0;
                padding:1% 3%;
            }
        }
        #start_menu{
            background:#0D1103;
            position:absolute;
            top:0;
            left:0;
            display:flex;
            flex-flow:column-reverse;
            height:max-content;
            max-height:40vh;
            transform:translateY(-100%);
            z-index:5;
            width:calc(24px + 7vw);
            #start_menu_list{
                display:flex;
                width:100%;
                position:relative;
                flex-flow:column-reverse;
                padding:0;
                margin:0;
                p{
                    margin:0;
                    font-family: $font;
                    color:$color;
                    font-size:calc(8px + 0.4vw);
                    padding:4%;
                }
                li{
                    list-style-type: none;
                    display:flex;
                    flex-flow: row;
                    justify-content: center;
                    align-items: center;
                    position:relative;
                    flex-grow:1;
                    padding:4%;
                    cursor:pointer;
                    border:2px solid $color;
                    &#shutdown_li{
                        button{
                            background:none;
                            border:none;
                            flex-grow:1;
                            position:relative;
                            cursor:pointer;
                        }
                        &:hover{
                            background:#303f0c;
                        }
                    }
                    &#settings_li{
                        border-bottom:none;
                        #settings_list{
                            display:none;
                            position:absolute;
                            right:0;
                            top:100%;
                            transform:translate(100%,-99%);
                            margin:0;
                            padding:0;
                            color:$color;
                            cursor:pointer;
                        }
                        #settings{
                            flex-grow:1;
                            display:flex;
                            flex-flow:row;
                            justify-content: center;
                            align-items:center;
                            position:relative;
                            p{
                                flex-grow:1;
                                text-align: center;
                            }
                        }
                        &:hover{
                            background:#303f0c;
                            #settings_list{
                                background:#0D1103;
                                display:flex;
                                flex-flow:column-reverse;
                                width:calc(24px + 7vw);
                                cursor:pointer;
                                li{
                                    flex-grow:1;
                                    display:flex;
                                    justify-content: center;
                                    align-items:center;
                                    padding: 4%;
                                    width:auto;
                                    border-bottom:2px solid transparent;
                                    &#settings_color{
                                        border-bottom:2px solid $color;
                                    }
                                    &:hover{
                                        background:#303f0c;
                                        ul{
                                            background:#0D1103;
                                            display:flex;
                                            flex-flow:column-reverse;
                                            width:calc(24px + 7vw);
                                            cursor:pointer;
                                            li{
                                                &:nth-of-type(1){
                                                    border-bottom:2px solid $color;
                                                }
                                            }
                                        }
                                    }
                                    p{
                                        margin:0;
                                        flex-grow:1;
                                        padding:4%;
                                        text-align: center;
                                    }
                                    ul{
                                        display:none;
                                        position:absolute;
                                        right:0;
                                        top:100%;
                                        transform:translate(100%,-99%);
                                        margin:0;
                                        padding:0;
                                        color:$color;
                                        cursor:pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #task_windows{
        display:flex;
        flex-flow:row;
        flex-grow:1;
        position:relative;
        ul{
            margin:0;
            padding:0;
            display:flex;
            flex-flow:row;
            width:100%;
            li{
                list-style-type: none;
                border:1px solid;
                width:5%;
                display:flex;
                justify-content: center;
                align-items:center;
                &:hover{
                    background:rgba(255,255,255,0.2);
                }
                #contextmenu{
                    position:absolute;
                    width:max-content;
                    z-index:7;
                    ul{
                        margin:0;
                        padding:0;
                        width:100%;
                        position:relative;
                        display:flex;
                        flex-flow:column;
                        li{
                            list-style-type: none;
                            width:100%;
                            button{
                                background:none;
                                width:100%;
                                background:black;
                                &:hover{
                                    background:rgb(78, 78, 78);
                                }
                                p{
                                    margin:0;
                                    color:$color;
                                    width:100%;
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
    #task_corner{
        display:flex;
        flex-flow:row;
        width:max-content;
        width:5%;
        min-width:100px;
        height:100%;
        position:absolute;
        right:1%;
        top:0;
        justify-content: center;
        align-items:center;
        span{
            width:max-content;
            p{
                color:$color;
                font-family:$font;
                font-size:60%;
                text-align: center;
                margin:0 0 0.3% 0;
                letter-spacing: 1px; 
            }
        }
        #task_lang{
            width:3%;
            min-width:25px;
            position:relative;
            margin-right:5%;
            button{
                background:none;
                border:1px solid $color;
                display:flex;
                width:100%;
                padding:0;
                p{
                    flex-grow:1;
                    color:$color;
                    margin:0;
                    &:hover{
                        cursor:pointer;
                    }
                }
            }
        }
    }
}