$font:'DotGothic16', Courier;
$color:rgb(173, 255, 47);

footer#task_bar{
    width:100%;
    height:calc(2vh + 20px);
    background:#0d1103;
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    position:fixed;
    bottom:0;
    left:0;
    z-index:5;
    #menu{
        position:relative;
        width:max-content;
        #start_btn{
            background:transparent;
            height:100%;
            width: max-content;
            min-width:80px;
            border:1px solid $color;
            &:hover{
                background:rgb(56, 56, 56);
                cursor:pointer;
            }
            p{
                font-family: $font;
                color:$color;
                margin:0;
                padding:1% 3%;
            }
        }
        #start_menu{
            background:grey;
            position:absolute;
            top:0;
            left:0;
            display:flex;
            flex-flow:column-reverse;
            width:max-content;
            height:max-content;
            max-height:45vh;
            transform:translateY(-100%);
            z-index:5;
        }
    }
    #task_windows{
        display:flex;
        flex-flow:row;
        flex-grow:1;
        position:relative;
        ul{
            margin:0;
            padding:0;
            display:flex;
            flex-flow:row;
            width:100%;
            li{
                list-style-type: none;
                border:1px solid $color;
                width:5%;
                display:flex;
                justify-content: center;
                align-items:center;
                &:hover{
                    background:rgba(255,255,255,0.2);
                }
                #contextmenu{
                    position:absolute;
                    width:max-content;
                    z-index:7;
                    ul{
                        margin:0;
                        padding:0;
                        width:100%;
                        position:relative;
                        display:flex;
                        flex-flow:column;
                        li{
                            list-style-type: none;
                            width:100%;
                            button{
                                background:none;
                                width:100%;
                                background:black;
                                &:hover{
                                    background:rgb(78, 78, 78);
                                }
                                p{
                                    margin:0;
                                    color:$color;
                                    width:100%;
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
    #task_corner{
        display:flex;
        flex-flow:row;
        width:max-content;
        width:5%;
        min-width:100px;
        height:100%;
        position:absolute;
        right:1%;
        top:0;
        justify-content: center;
        align-items:center;
        span{
            width:max-content;
            p{
                color:$color;
                font-family:$font;
                font-size:60%;
                text-align: center;
                margin:0 0 0.3% 0;
                letter-spacing: 1px; 
            }
        }
        #task_lang{
            width:3%;
            min-width:25px;
            position:relative;
            margin-right:5%;
            button{
                background:none;
                border:1px solid $color;
                display:flex;
                width:100%;
                padding:0;
                p{
                    flex-grow:1;
                    color:$color;
                    margin:0;
                    &:hover{
                        cursor:pointer;
                    }
                }
            }
        }
    }
}