@import url('screen_off.css');
@import url('folder_section.css');
@import url('user.css');
@import url('music_player.css');
@import url('windows.css');
@import url('task_bar.css');
@import url('animations.css');
@import url('hap-e.css');

$font:'DotGothic16', Courier;
$color:rgb(173, 255, 47);

html,body{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
    width:100vw;
    height:100vh;
}

.visible{
    opacity:1;
    visibility: visible;
}

.invisible{
    opacity:0;
    visibility: hidden;
}

.out{
    display:none;
}

.in{
    display:initial;
}

.str{
    font-weight:800;
}

.it{
    font-style: italic;
}

em{
    font-style: inherit;
}

// .distorted{
//     animation: textglitch 9s 4s infinite alternate;
// }

.fullscreen{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
}

#screen{
    font-family: $font;
    position:relative;
    height:100%;
    width:100%;
    background-image:radial-gradient(circle, rgba(40,57,20,1) 0%, rgba(20,29,9,1) 10%, rgba(0,0,0,1) 45%);
    #screen_on{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        display:flex;
        flex-flow:column;
        transition:all 0.8s 1s;
        background-size:100%;
        background-position: center;
        #screen_flicker{
            height:100%;
            width:100%;
            position:absolute;
            top:0;
            left:0;
            background:rgba(0,0,0,0.7);
            pointer-events:none;
            z-index:8;
        }
    }
}

@media screen and(max-width:800px){
    #animation_corporations{
        display:none;
    }
    #warning_message{
        display:block;
    }
    html body#body_index main#screen div#screen_on.visible section#music_player.drag{
        padding:0;
        min-width:200px;
        left:initial;
        top:initial;
        right:0;
        bottom:20px;
        transform:none;
    }
    #window_infos .window_content .window_content_center #animation_div #animation_room{
        width:60%;
        height:auto;
    }
    #screen_toggle img{
        width:80px;
        height:80px;
    }
}