@import url('index.css');

@font-face {
    font-family: "Pixel";
    src: url("/assets/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

html,body{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overflow: hidden;
    &:lang(en){
        display:none;
    }
}

body{
    width:100vw;
    height:100vh;
}

.visible{
    opacity:1;
    visibility: visible;
}

.invisible{
    opacity:0;
    visibility: hidden;
}

.out{
    display:none;
}

.in{
    display:initial;
}

.str{
    font-weight:800;
}

.distorted{
    animation: textglitch 9s 4s infinite alternate;
}

.fullscreen{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
}