$font:'DotGothic16', Courier;
$color:rgb(173, 255, 47);

#user{
    position:absolute;
    top:0;
    right:0;
    display:flex;
    flex-flow:column;
    width:max-content;
    min-width:20%;
    height:max-content;
    margin-right:2%;
    div,p{
        font-size:calc(11px + 0.4vw);
        color:$color;
        font-family: $font;
        margin:0 0 1% 0;
        width:max-content;
        user-select: none;
        &:first-of-type{
            margin-top:1%;
        }
        h1,h2{
            width:max-content;
            font-size:calc(11px + 0.4vw);
            color:$color;
        }
    }
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    details{
        summary{
            list-style-type: none;
            &:hover{
                cursor:pointer;
                text-decoration: underline;
            }
        }
        #copy_mail, #amail{
            &:hover{
                cursor:pointer;
                text-decoration: underline;
            }
        }
        #download_resume{
            &:hover{
                text-decoration:underline;
            }
        }
    }
}