.window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  z-index: 3;
  border: 1px solid black;
  background: #131a0d;
  overflow: hidden;
  position: relative;
}

.window:not(.fullscreen) {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 70vw;
  height: 70vh;
  min-width: 400px;
}

.window:not(.fullscreen)#window_openimg .window_menu, .window:not(.fullscreen)#window_infos .window_menu, .window:not(.fullscreen)#animation_dna .window_menu, .window:not(.fullscreen)#animation_corporations .window_menu, .window:not(.fullscreen).window_anim .window_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.window:not(.fullscreen)#window_openimg .window_menu ul, .window:not(.fullscreen)#window_infos .window_menu ul, .window:not(.fullscreen)#animation_dna .window_menu ul, .window:not(.fullscreen)#animation_corporations .window_menu ul, .window:not(.fullscreen).window_anim .window_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.window:not(.fullscreen)#window_openimg .window_content, .window:not(.fullscreen)#window_infos .window_content, .window:not(.fullscreen)#animation_dna .window_content, .window:not(.fullscreen)#animation_corporations .window_content, .window:not(.fullscreen).window_anim .window_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.window:not(.fullscreen)#window_openimg .window_content img, .window:not(.fullscreen)#window_infos .window_content img, .window:not(.fullscreen)#animation_dna .window_content img, .window:not(.fullscreen)#animation_corporations .window_content img, .window:not(.fullscreen).window_anim .window_content img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -o-object-fit: contain;
     object-fit: contain;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.window.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh-calc(max(2vh,30px));
  width: 100%;
}

.window.fullscreen#window_openimg .window_menu, .window.fullscreen#window_infos .window_menu, .window.fullscreen#animation_dna .window_menu, .window.fullscreen#animation_corporations .window_menu, .window.fullscreen.window_anim .window_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.window.fullscreen#window_openimg .window_menu ul, .window.fullscreen#window_infos .window_menu ul, .window.fullscreen#animation_dna .window_menu ul, .window.fullscreen#animation_corporations .window_menu ul, .window.fullscreen.window_anim .window_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.window.fullscreen#window_openimg .window_content, .window.fullscreen#window_infos .window_content, .window.fullscreen#animation_dna .window_content, .window.fullscreen#animation_corporations .window_content, .window.fullscreen.window_anim .window_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.window.fullscreen#window_openimg .window_content img, .window.fullscreen#window_infos .window_content img, .window.fullscreen#animation_dna .window_content img, .window.fullscreen#animation_corporations .window_content img, .window.fullscreen.window_anim .window_content img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.window .window_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  background: black;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.window .window_menu .window_menu_bar {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.window .window_menu .window_menu_bar div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.window .window_menu .window_menu_bar div.window_menu_left {
  width: 30%;
}

.window .window_menu .window_menu_bar div.window_menu_left li {
  margin: 0 2%;
  padding: 1% 0;
}

.window .window_menu .window_menu_bar div.window_menu_left li button {
  background: transparent;
  color: greenyellow;
  border: 1px solid transparent;
}

.window .window_menu .window_menu_bar div.window_menu_left li button:hover {
  border: 1px solid greenyellow;
}

.window .window_menu .window_menu_bar div.window_menu_right {
  width: 15%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.window .window_menu .window_menu_bar div.window_menu_right li {
  margin: 0 2%;
  list-style-type: none;
}

.window .window_menu .window_menu_bar div.window_menu_right li button {
  background: transparent;
  border: 1px solid greenyellow;
}

.window .window_menu .window_menu_bar div.window_menu_right li button i {
  color: greenyellow;
  padding: 1%;
}

.window .window_menu .window_menu_bar div .menu {
  list-style-type: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.window .window_menu .window_menu_bar div .menu button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.window .window_menu .window_menu_bar div .menu .submenu {
  position: absolute;
  min-width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  top: 100%;
  left: 0;
  z-index: 6;
}

.window .window_menu .window_menu_bar div .menu .submenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}

.window .window_menu .window_menu_bar div .menu .submenu ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.window .window_menu .window_menu_bar div .menu .submenu ul li button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: black;
  border: 2px inset grey;
}

.window .window_menu .window_menu_bar div .menu .submenu ul li button:hover {
  background: #4e4e4e;
}

.window .window_menu .window_menu_bar div .menu .submenu ul li button p {
  margin: 0;
  color: greenyellow;
  width: 100%;
  pointer-events: none;
}

.window .window_content, .window .window_group .window_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 1% 2%;
  color: greenyellow;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.window .window_content.window_content_infos, .window .window_group .window_content.window_content_infos {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 2%;
}

.window .window_content .window_min, .window .window_content .folder, .window .window_group .window_content .window_min, .window .window_group .window_content .folder {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: initial;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5% 2%;
}

.window .window_content .window_min.deleted, .window .window_content .folder.deleted, .window .window_group .window_content .window_min.deleted, .window .window_group .window_content .folder.deleted {
  width: 100px;
}

.window .window_content .window_min.deleted p, .window .window_content .folder.deleted p, .window .window_group .window_content .window_min.deleted p, .window .window_group .window_content .folder.deleted p {
  text-align: center;
}

.window .window_content .window_min img, .window .window_content .folder img, .window .window_group .window_content .window_min img, .window .window_group .window_content .folder img {
  width: 75px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.window .window_content .window_min p, .window .window_content .folder p, .window .window_group .window_content .window_min p, .window .window_group .window_content .folder p {
  margin: 0;
  color: greenyellow;
  cursor: default;
  word-break: break-all;
  max-width: 150px;
}

.window .window_content .window_min #contextmenu, .window .window_content .folder #contextmenu, .window .window_group .window_content .window_min #contextmenu, .window .window_group .window_content .folder #contextmenu {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 7;
}

.window .window_content .window_min #contextmenu ul, .window .window_content .folder #contextmenu ul, .window .window_group .window_content .window_min #contextmenu ul, .window .window_group .window_content .folder #contextmenu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.window .window_content .window_min #contextmenu ul li, .window .window_content .folder #contextmenu ul li, .window .window_group .window_content .window_min #contextmenu ul li, .window .window_group .window_content .folder #contextmenu ul li {
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.window .window_content .window_min #contextmenu ul li button, .window .window_content .folder #contextmenu ul li button, .window .window_group .window_content .window_min #contextmenu ul li button, .window .window_group .window_content .folder #contextmenu ul li button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: black;
}

.window .window_content .window_min #contextmenu ul li button:hover, .window .window_content .folder #contextmenu ul li button:hover, .window .window_group .window_content .window_min #contextmenu ul li button:hover, .window .window_group .window_content .folder #contextmenu ul li button:hover {
  background: #4e4e4e;
}

.window .window_content .window_min #contextmenu ul li button p, .window .window_content .folder #contextmenu ul li button p, .window .window_group .window_content .window_min #contextmenu ul li button p, .window .window_group .window_content .folder #contextmenu ul li button p {
  margin: 0;
  color: greenyellow;
  width: 100%;
  pointer-events: none;
}

.window#window_projects .window_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 90%;
}

.window#window_projects .window_group .window_content {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.window#window_projects .window_group .window_content .window_min {
  width: 100px;
  min-width: 100px;
}

.window#window_projects .window_group .window_articles {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: greenyellow rgba(0, 0, 0, 0.9);
  scrollbar-width: thin;
}

.window#window_projects .window_group .window_articles .window_infos_article {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2% 4%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: greenyellow;
  text-align: center;
}

.window#window_projects .window_group .window_articles .window_infos_article header {
  margin-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.window#window_projects .window_group .window_articles .window_infos_article header h1 {
  font-size: calc(12px + 1vw);
  margin: 0;
}

.window#window_projects .window_group .window_articles .window_infos_article header h3 {
  font-size: calc(10px + 0.8vw);
  margin: 0;
  margin-top: 0.5%;
}

.window#window_projects .window_group .window_articles .window_infos_article header h4 {
  margin: 0;
  margin-top: 0.5%;
  font-size: calc(9px + 0.5vw);
}

.window#window_projects .window_group .window_articles .window_infos_article header h4 a {
  color: white;
}

.window#window_projects .window_group .window_articles .window_infos_article header h2 {
  margin: 0;
  margin-top: 0.5%;
  font-size: calc(9px + 0.5vw);
}

.window#window_projects .window_group .window_articles .window_infos_article p {
  text-align: center;
}

.window#window_projects .window_group .window_articles .window_infos_article p a {
  color: white;
}

.window#window_projects .window_group .window_articles .window_infos_article footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window#window_projects .window_group .window_articles .window_infos_article footer a {
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.window#animation_dna {
  width: 32px;
  height: 32px;
  min-width: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: initial;
  left: initial;
  bottom: 8%;
  right: 0;
  background: none;
  border: none;
}

.window#animation_dna img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}

.window#animation_corporations {
  left: initial;
  right: 0;
  top: initial;
  bottom: 10%;
  background: none;
  border: none;
  height: 400px;
  width: 300px;
  overflow: visible;
}

.window#animation_corporations:hover button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.window#animation_corporations:hover a {
  display: block;
}

.window#animation_corporations img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.window#animation_corporations a {
  display: none;
  position: absolute;
  text-decoration: none;
  text-align: center;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.window#animation_corporations a p {
  text-align: center;
  color: greenyellow;
  background: black;
  padding: 1% 2%;
}

.window#animation_corporations .post {
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  font-size: calc(14px + 0.5vw);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  text-align: center;
}

.window#animation_corporations button {
  position: absolute;
  top: 0;
  right: 5%;
  background: none;
  border: none;
  display: none;
}

.window#animation_corporations button:hover {
  cursor: pointer;
}

.window#animation_corporations button i {
  color: greenyellow;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#window_infos:not(.fullscreen) {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: calc(-webkit-max-content + 5vw);
  max-width: calc(-moz-max-content + 5vw);
  max-width: calc(max-content + 5vw);
  height: auto;
}

#window_infos.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh-calc(2vh + 20px);
  width: 100%;
}

#window_infos .window_content {
  width: 100%;
}

#window_infos .window_content .window_content_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow-y: scroll;
  scrollbar-color: greenyellow transparent;
  scrollbar-width: thin;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#window_infos .window_content .window_content_center #animation_div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid;
}

#window_infos .window_content .window_content_center #animation_div #animation_room {
  width: 650px;
  height: 450px;
}

#window_hamburger:not(.fullscreen) {
  top: 5%;
  left: 5%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: calc(max(30vw, 300px));
  height: 80vh;
}

#window_hamburger.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh-calc(2vh + 20px);
  width: 100%;
}

#window_hamburger .window_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1% 2%;
  color: greenyellow;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#window_hamburger .window_content .window_content_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: greenyellow transparent;
  scrollbar-width: thin;
  position: relative;
  padding: 5% 1%;
}

#window_hamburger .window_content .window_content_center #hamburger {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 5%;
}

#window_hamburger .window_content .window_content_center #hamburger #hamburger_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 1.5%;
  padding: 1% 2%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 4px double greenyellow;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#window_hamburger .window_content .window_content_center #hamburger #hamburger_name h3, #window_hamburger .window_content .window_content_center #hamburger #hamburger_name h4 {
  margin: 0;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder {
  height: 11%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder:nth-of-type(1) img {
  animation: floating 7s 0s infinite ease-in-out alternate-reverse;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder:nth-of-type(2) img {
  animation: floating 8s 0s infinite ease-in-out alternate-reverse;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder:nth-of-type(3) img {
  animation: floating 3.2s 0s infinite ease-in-out alternate-reverse;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder:nth-of-type(4) img {
  animation: floating 3.4s 0s infinite ease-in-out alternate-reverse;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder:nth-of-type(5) img {
  animation: floating 7.6s 0s infinite ease-in-out alternate-reverse;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder:nth-of-type(6) img {
  animation: floating 6s 0s infinite ease-in-out alternate-reverse;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder:nth-of-type(7) img {
  animation: floating 6s 0s infinite ease-in-out alternate-reverse;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder:nth-of-type(8) img {
  animation: floating 6s 0s infinite ease-in-out alternate-reverse;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder:hover p {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder:hover img {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder img {
  height: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#window_hamburger .window_content .window_content_center #hamburger .garnish_holder p {
  width: 100%;
  position: absolute;
  opacity: 0;
  margin: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: calc(6px + 0.7vw);
}

#window_credits #window_credits_textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: black;
  font-family: Consolas;
}

#window_self .window_content .window_content_center a {
  display: block;
  text-decoration: none;
  width: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#window_self .window_content .window_content_center a img {
  width: 100%;
  position: relative;
}

#warning_message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  padding: 1% 2%;
}

#warning_message button {
  position: absolute;
  top: 5%;
  right: 5%;
  background: transparent;
  border: 1px solid;
}

#warning_message p {
  text-align: center;
}
/*# sourceMappingURL=windows.css.map */