$font:'DotGothic16', Courier;
$color:rgb(173, 255, 47);

.window{
    display:flex;
    flex-flow:column;
    z-index:3;
    border:1px solid black;
    background:#131a0d;
    overflow:hidden;
    position:relative;
    &:not(.fullscreen){
        position:absolute;
        top:10%;
        left:10%;
        width:70vw;
        height:70vh;
        min-width:400px;
        &#window_infos{
            width:40vw;
            height:85vh;
            top:5%;
        }
        &#window_openimg, &#window_infos, &#animation_dna, &#animation_corporations{
            .window_menu{
                display:flex;
                flex-flow:row;
                ul{
                    display:flex;
                    flex-flow:row;
                    align-items: flex-end;
                    justify-content: flex-end;
                }
            }
            .window_content{
                display:flex;
                img{
                    flex-grow:1;
                    object-fit: contain;
                    width:100%;
                }
            }
        }
    }
    &.fullscreen{
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        height:100vh - calc(2vh + 20px);
        width:100%;
        &#window_openimg, &#window_infos, &#animation_dna, &#animation_corporations{
            .window_menu{
                display:flex;
                flex-flow:row;
                ul{
                    display:flex;
                    flex-flow:row;
                    align-items: flex-end;
                    justify-content: flex-end;
                }
            }
            .window_content{
                display:flex;
                img{
                    flex-grow:1;
                    object-fit: contain;
                    width:100%;
                }
            }
        }
    }
    .window_menu{
        display:flex;
        flex-flow:row;
        background:black;
        height:max-content;
        .window_menu_bar{
            padding:0;
            margin:0;
            display:flex;
            flex-flow:row;
            justify-content: space-between;
            width:100%;
            div{
                width:max-content;
                display:flex;
                flex-flow:row;
                &.window_menu_left{
                    width:30%;
                    li{
                        margin:0 2%;
                        padding:1% 0;
                        button{
                            background:transparent;
                            color:$color;
                            border:1px solid transparent;
                            &:hover{
                                border:1px solid $color;
                            }
                        }
                    }
                }
                &.window_menu_right{
                    width:15%;
                    justify-content: flex-end;
                    li{
                        margin:0 2%;
                        list-style-type: none;
                        button{
                            background:transparent;
                            border:1px solid $color;
                            i{
                                color:$color;
                                padding:1%;
                            }
                        }
                    }
                }
                .menu{
                    list-style-type: none;
                    width:max-content;
                    position:relative;
                    button{
                        &:hover{
                            background:rgba(255,255,255,0.2);
                        }
                    }
                    .submenu{
                        position:absolute;
                        min-width:100%;
                        max-width:max-content;
                        top:100%;
                        left:0;
                        z-index:6;
                        ul{
                            display:flex;
                            flex-flow:column;
                            padding:0;
                            margin:0;
                            position:relative;
                            width:100%;
                            li{
                                flex-grow:1;
                                width:100%;
                                list-style-type: none;
                                display:flex;
                                margin:0;
                                padding:0;
                                button{
                                    flex-grow:1;
                                    background:black;
                                    border:2px inset grey;
                                    &:hover{
                                        background:rgb(78, 78, 78);
                                    }
                                    p{
                                        margin:0;
                                        color:$color;
                                        width:100%;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .window_content, .window_group .window_content{
        position:relative;
        display:flex;
        flex-grow:1;
        flex-wrap:wrap;
        flex-flow:row;
        padding:1% 2%;
        color:$color;
        height:90%;
        &.window_content_infos{
            flex-flow:column;
            align-items: center;
            padding:3% 2%;
            .window_content_center{
                display:flex;
                background:rgba(0,0,0,0.95);
                width:90%;
                height:100%;
                overflow-y:scroll;
                position:relative;
                #hamburger{
                    flex-grow:1;
                    display:flex;
                    flex-flow:column;
                    align-items:center;
                    position:relative;
                    padding:4% 0;
                    #hamburger_name{
                        display:flex;
                        flex-flow:column;
                        margin-bottom:1.5%;
                        padding:1% 2%;
                        width:max-content;
                        border:4px double $color;
                        border-radius:4px;
                        align-items:center;
                        h3,h4{
                            margin:0;
                        }
                    }
                    .garnish_holder{
                        height:11%;
                        width:100%;
                        position:relative;
                        display:flex;
                        justify-content:center;
                        @for $i from 1 through 8{
                            &:nth-of-type(#{$i}){
                                img{
                                    animation: floating random(25) / 5 + 3 + s 0s infinite ease-in-out alternate-reverse; 
                                }
                            }
                        }
                        &:hover{
                            p{
                                cursor:pointer;
                                opacity:1;
                                transition:all 0.5s 0.2s;
                            }
                            img{
                                opacity:0;
                                transition:opacity 0.5s;
                            }
                        }
                        img{
                            height:100%;
                            transition:opacity 0.5s;
                        }
                        p{
                            width:100%;
                            position:absolute;
                            opacity:0;
                            margin:0;
                            left:50%;
                            top:50%;
                            transform:translate(-50%,-50%);
                            pointer-events: none;
                            text-align: center;
                            transition:all 0.4s;
                            font-size:calc(6px + 0.7vw);
                        }
                    }
                }
            }
        }
        .window_min, .folder{
            position:relative;
            display:flex;
            flex-flow:column;
            width:initial;
            height:max-content;
            justify-content: center;
            align-items:center;
            padding:1.5% 2%;
            &.deleted{
                width:100px;
                p{
                    text-align: center;
                }
            }
            img{
                width:75px;
                height:40px;
                object-fit: contain;
            }
            p{
                margin:0;
                color:$color;
                cursor:default;
                word-break:break-all;
                max-width:150px;
            }
            #contextmenu{
                position:absolute;
                width:max-content;
                z-index:7;
                ul{
                    margin:0;
                    padding:0;
                    width:100%;
                    position:relative;
                    display:flex;
                    flex-flow:column;
                    li{
                        list-style-type: none;
                        width:100%;
                        display:flex;
                        button{
                            flex-grow:1;
                            background:black;
                            &:hover{
                                background:rgb(78, 78, 78);
                            }
                            p{
                                margin:0;
                                color:$color;
                                width:100%;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }
        }
    }
    &#window_projects{
        .window_group{
            display:flex;
            flex-grow:1;
            flex-flow:row;
            flex-wrap:nowrap;
            position:relative;
            width:100%;
            height:90%;
            .window_content{
                width:100%;
                flex-grow:1;
                flex-wrap:wrap;
                .window_min{
                    width:100px;
                    min-width:100px;
                }
            }
            .window_infos{
                position:relative;
                display:flex;
                width:0%;
                flex-flow:column;
                flex-grow:1;
                overflow-y:scroll;
                overflow-x:hidden;
                scrollbar-color: $color rgba(0,0,0,0.9);
                scrollbar-width: thin;
                .window_infos_article{
                    position:absolute;
                    top:0;
                    left:0;
                    padding:2% 4%;
                    flex-grow:1;
                    display:flex;
                    flex-flow:column;
                    align-items:center;
                    color:$color;
                    text-align: center;
                    header{
                        margin-bottom:1%;
                        display:flex;
                        flex-flow: column;
                        h1{
                            font-size:calc(12px + 1vw);
                            margin:0;
                        }
                        h3{
                            font-size:calc(10px + 0.8vw);
                            margin:0;
                            margin-top:0.5%;
                        }
                        h4{
                            margin:0;
                            margin-top:0.5%;
                            font-size: calc(9px + 0.5vw);
                            a{
                                color:white;
                            }
                        }
                        h2{
                            margin:0;
                            margin-top:0.5%;
                            font-size: calc(9px + 0.5vw);
                        }
                    }
                    p{
                        text-align:center;
                        a{
                            color:white;
                        }
                    }
                    footer{
                        display:flex;
                        flex-flow:column;
                        align-items: center;
                        a{
                            color:white;
                            width:max-content;
                        }
                    }
                }
            }
        } 
    }
    &#animation_dna{
        width:32px;
        height:32px;
        min-width:0;
        justify-content: center;
        align-items:center;
        top:initial;
        left:initial;
        bottom:8%;
        right:0;
        background:none;
        border:none;
        img{
            width:100%;
            object-fit: contain;
            object-position: right;
        }
    }
    &#animation_corporations{
        left:initial;
        right:0;
        top:initial;
        bottom:calc(2vh + 20px);
        background:none;
        border:none;
        height:400px;
        width:300px;
        &:hover{
            button{
                display:flex;
            }
            p{
                display:block;
            }
        }
        img{
            width:100%;
            object-fit: contain;
        }
        p{
            position:absolute;
            bottom:2%;
            left:50%;
            transform:translateX(-50%);
            display:none;
            color:$color;
        }
        button{
            position:absolute;
            top:2%;
            right:2%;
            background:none;
            border:none;
            display:none;
            &:hover{
                cursor:pointer;
            }
            i{
                color:$color;
                flex-grow:1;
            }
        }
    }
}