<Files .htaccess>
Order allow,deny
Deny from all
</Files>

ErrorDocument 404 https://theo-petropoulos.students-laplateforme.io/404.php

RewriteEngine On

RewriteRule ^vendor/(.*)$ /$1 [R=301,NC,L]
RewriteRule ^MCD/(.*)$ /$1 [R=301,NC,L]
RewriteRule ^model/(.*)$ /$1 [R=301,NC,L]
RewriteRule ^test/(.*)$ /$1 [R=301,NC,L]

Options -Indexes
IndexIgnore *
